* {
    padding: 0;
    margin: 0
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: #454545;
    outline: 0
}

input {
    outline: 0
}

img {
    border: 0
}

.clr, .clrHover:hover {
    color: #90BE04 !important
}

.clear {
    clear: both
}

.f-left {
    float: left !important
}

.f-right {
    float: right !important
}

.under:hover {
    text-decoration: underline !important
}

.hidden {
    display: none
}

.bold {
    font-weight: 700
}

html {
    margin-bottom: 1px;
    height: 100%
}

body {
    color: #454545;
    font-family: Roboto;
    font-size: 13px;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: none;
}
#body{position:relative;}
#wrapper {
    margin: 0 auto;
    width: 100%;
    position: relative;
    min-width:1170px;
}
#wraper {
    position: relative;
}
.container-wrap {
    margin: 0 auto;
    width: 1170px;
}
.header-top {
    position:relative;
}
.playnow-logo {
    float: left;
}
.playnow-logo img {
    height:75px;
}
.form-search {
}
.search-txt {
}
.search-btn {
}
.search-btn img {
}
.header-down {
    float: right;
    margin-right: 30px;
    margin-top: 29px;
    cursor: pointer;
}
.header-down img {
    height:20px;
}
.header-login {
    color: #ffffff;
    float: right;
    margin-top: 27px;
}
.header-login a {
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    overflow: hidden;
    cursor: pointer;
}
.header-avatar img {
    border-radius: 30px;
    float: left;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}
.header-menu {
    margin-top:15px;
}
.header-menu a {
    position:relative;
}
.header-menu a.active {
    color:#ffffff;
}
p.form-search {
    background: #7663d5 none repeat scroll 0 0;
    border-radius: 10px;
    float: left;
    height: 40px;
    margin-left: 125px;
    margin-top: 20px;
    max-width: 700px;
    overflow: hidden;
    width: 535px;
    z-index: 999;
}
p.form-search .search-txt {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    color: #ffffff;
    float: left;
    font-size: 15px;
    height: 40px;
    line-height: 30px;
    margin-left: 10px;
    width: 80%;
}
p.form-search .search-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #d5005a;
    cursor: pointer;
    float: right;
    font-family: Roboto;
    height: 42px;
    margin-right: 5px;
    margin-top: 0;
    position: relative;
    width: 42px;
    z-index: 999;
}
p.form-search .search-btn img {
}
.header-menu a {
    color: #ccc7ed;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-right: 55px;
    padding-bottom: 4px;
}
.header-menu a:hover{color:#ffffff;}
.header-menu a.active span.sp-border {
    border-bottom: 2px solid #ffffff;
    display: block;
    margin: 10px 10% 0 10%;
}
.box-home-top {
    overflow: hidden;
    margin-bottom:25px;
}
.bht-item {
    float: left;
    position: relative;
    width: 25%;
}
.bht-item-img {
    width: 100%;
    display:block;
}
.bht-item-h3 {
    bottom: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    padding: 10px 15px;
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    width:100%;
}
.bht-item-big .bht-item-h3{font-size:22px;line-height:25px;}
.bht-item-big {
    width: 50%;
}
.box-video-list{width:1170px;margin:auto;overflow:hidden;border-bottom: 1px solid #dcdcdc;margin-bottom:30px;padding-bottom:15px;position:relative;}
.bvl-h2-title{font-size:20px;margin-bottom:22px;text-transform:uppercase;}
.bvl-wrap{width:110%;overflow:hidden;margin-bottom:10px;}
.playnow-home-item{width:278px;}
.box-video-list .bvl-wrap{margin-bottom:0px;}
.playnow-home-item {
    float: left;
    margin-bottom: 30px;
    margin-right: 20px;
}
.playnow-home-link {
    display: block;
    margin-bottom: 10px;
    position:relative;
    text-align:center;
    background:#000000;
}
.playnow-home-link img {
    display:block;
    height:157px;
    width:100%;
}
.cuocthimocha .playnow-home-link img {
    width:auto;
    max-width:100%;
    margin:auto;
}
.playnow-home-h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 15px;
    height:48px;
    overflow:hidden;
}
.playnow-home-chanel {
    overflow: hidden;
    position: relative;
}
.playnow-chanel-link {
    float: left;
}
.playnow-chanel-link img {
    border-radius: 10px;
    height: 40px;
    width: 40px;
}
.play-chanel-info {
    margin-left: 55px;
}
.play-chanel-view {
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
}
.play-channel-h3 {
    font-size: 14px;
}
.bvl-more{}
.bvl-more a{font-size:13px;font-weight:bold;color:#6a6a6a;}
.slider-video-prev{    cursor: pointer;
    position: absolute;
    left: -22px;
    top: 99px;
    z-index: 9;}
.slider-video-next {
    cursor: pointer;
    position: absolute;
    right: -22px;
    top: 99px;
    z-index: 9;
}
.chanel-mocha .slider-video-next, .chanel-mocha .slider-video-prev{top:125px;}

.slider-video-next > img, .slider-video-prev > img {
    height: 53px;
}
.chanel-top {
    margin: 15px auto auto;
    width: 1170px;
}
.chanel-top-img {
    display: block;
    margin-bottom: 35px;
    width: 100%;
}
.chanel-top-info {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}
.cti-lnk-img {
    float: left;
}
.cti-lnk-img img {
    border-radius: 10px;
    height: 70px;
    width: 70px;
}
.cti-info {
    margin-left: 88px;
    margin-top:10px;
}
.cti-h3 {
    font-size: 18px;
    margin-bottom: 6px;
}
.cti-h3 a {
}
.cti-p {
    font-size: 14px;
}
.cti-p .cti-user {
    color: #6a6a6a;
    margin-right:35px;
}
.cti-p .cti-spoint {
    color: #ff0000;
}
.lnk-edit-chanel {
    border: 1px solid #5e48ce;
    border-radius: 8px;
    color: #5e48ce;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 18px;
    padding:0px 25px;
    text-transform:uppercase;
}
.chanel-register{background:#ffffff;border:1px solid #5e48ce;color:#5e48ce;cursor:pointer;}
.chanel-registed{font-size:20px;border: 1px solid #B6B6B6;
    background: #B6B6B6;
    color: #ffffff;cursor:pointer;}
.tab-channel {
    border-bottom: 1px solid #e1e1e1;
    font-size: 16px;
    margin: auto;
    width: 1170px;
    margin-bottom:25px;
    cursor: pointer;
}
.tab-channel a {
    display: inline-block;
    margin-right: 40px;
    padding: 0 10px 16px;
}
.tab-channel a.active {
    border-bottom: 1px solid #5e48ce;
    color: #5e48ce;
    display: inline-block;
    font-weight: bold;
    margin-bottom: -1px;
}
.body-login {
    background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/bg_login.jpg") no-repeat scroll center bottom;
    height: 600px;
    position: relative;
    width: 100%;
}
.mocha-box-login {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 2px 20px -1px rgba(0, 0, 0, 0.2);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 555px;
    border-radius:10px;

}
.mbl-h3 {
    border-bottom: 1px solid #e1e1e1;
    color: #5e48ce;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    padding: 0 30px;
}
.mbl-form {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 5px;
    padding-left: 30px;
}
.mbl-form-p {
    margin-bottom: 20px;
    overflow: hidden;
}
.mbl-sp-left {
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 45px;
    width: 130px;
}
.mbl-sp-right {
    float: left;
}
.mbl-sp-right .mbl-input-txt {
    background: #ebebeb none repeat scroll 0 0;
    border: 0 none;
    border-radius: 10px;
    height: 40px;
    width: 345px;
    padding: 0px 10px;
    display: inline-block;
    outline: none;
    line-height: 45px;
}
.mbl-form-remember {
    margin-bottom: 0;
}
.mbl-form-remember .mbl-sp-right {
    font-size: 14px;
}
.mbl-form-p .mbl-input-cb {
    margin-right: 10px;
}
.mbl-input-cb  input{margin-right:5px;}
.mbl-btn-login {
    background: #5e48ce none repeat scroll 0 0;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 160px;
    cursor: pointer;
}
.mbl-info {
    font-size: 16px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom:10px;
}
.mbl-info-p {
    font-weight: bold;
    margin-bottom: 12px;
}
.mbl-info-ul {
}
.mbl-info-ul li {
}
.mbl-info-ul li::before {
    color: #5e48cd;
    content: "■";
    font-size: 8px;
    margin-right: 7px;
    position: relative;
    top: -4px;
}
.mbl-info-ul li {
    padding-bottom: 0;
}
.mbl-info-ul li {
    box-sizing: border-box;
    display: block;
    padding-bottom: 12px;
    padding-left: 1em;
    text-indent: -1em;
    width: 100%;
}
.body-detail {
    margin:25px  auto;
    width: 1170px;
}
.body-detail-left {
    float: left;
    width: 735px;
}
.chanel-video-top {
    margin-bottom: 20px;
}
.video-player {
    margin-bottom: 20px;
}
.video-player video {
    height: 413px;
    width: 100%;
}
.cvt-h3 {
    /*background: rgba(0, 0, 0, 0) url("./images/ver4_15.png") no-repeat scroll right 3px;*/
    line-height: 25px;
    margin-bottom: 5px;
    position: relative;
}
.cvt-h3-lnk {
    font-size: 20px;
}
.cvt-p {
    color: #b9b9b9;
    font-size: 16px;
}
.video-social {
    border-bottom: 1px solid #f3f3f3;
    font-size: 14px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 15px;
}
.video-social a {
    color: #6a6a6a;
    float: left;
    text-align: center;
    width: 50%;
}
.video-social a img {
    margin-bottom: 10px;
    cursor: pointer;
}
.video-social a span {
    display: block;
}
.video-social a:nth-child(2) {
    width: 50%;
    display:none;
}
.body-detail  .playnow-home-player {
    padding:0px 0px 20px 0px;
}
.body-detail  .playnow-chanel-link {
    float: left;
}
.body-detail  .playnow-chanel-link img {
    border-radius: 10px;
    height: 70px;
    width: 70px;
}
.body-detail  .play-chanel-info {
    margin-left: 90px;
    margin-top: 0;
}
.body-detail  .play-channel-h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;


}
.body-detail .play-channel-h3-cate{margin-top: 20px;
    font-size: 18px;
}
.body-detail  .chanel-btn-dk {
    border: 1px solid #5e48ce;
    border-radius: 8px;
    color: #5e48ce;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 18px;
    width: 125px;
    text-transform:uppercase;
}
.body-detail-right {
    float: right;
    width: 410px;
}
.wrap-info-player {
    font-size: 16px;
    line-height: 25px;
}
.playnow-auto {
    font-size: 18px;
    font-weight: bold;
    line-height: 29px;
    margin-bottom: 20px;
    overflow: hidden;
}
.playnow-auto-p {
    float: right;
    font-size: 16px;
    font-weight: normal;
}
.playnow-auto-lnk {
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 29px;
    margin-left: 15px;
    width: 40px;
}
.chanel-video-small {
    margin-bottom: 15px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.body-login-right .chanel-video-small {
    margin-bottom: 15px;
    overflow: hidden;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 15px;

}
.body-login-right .chanel-video-small:nth-child(2) {margin-top:15px;}
.cvs-lnk-img {
    float: left;
    width: 205px;
    height: 115px;
    overflow: hidden;
    position:relative;
}
.cvs-lnk-img img {
    display: block;
    width: 100%;
}
.cvs-info {
    margin-left: 220px;
    position: relative;
}
.cvs-info-h2 {
    font-size: 16px;
    margin-bottom: 5px;
    max-height: 60px;
    overflow: hidden;
}
.cvs-info-h2 a {
}
.cvs-info-p {
    color: #6a6a6a;
    font-size: 14px;
}
.cvs-info-p {
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
}

.chanel-mocha {
    border-bottom: 1px solid #f0f0f0;
    margin: 25px auto 25px;
    width: 1170px;
    position:relative;
}
.chanel-mocha-h3 {
    font-size: 18px;
    margin-bottom: 30px;
}
.wrap-channel-mocha {
    overflow: hidden;
    margin:0 100px 0 25px;
}
.wcm-item {
    float: left;
    margin-left: 72px;
    padding-bottom: 30px;
    text-align: center;
    width: 190px;
}
.wcm-item-img {
    display: block;
    margin-bottom: 10px;
}
.wcm-item-img img {
    display: block;
    width: 100%;
    border-radius:15px;
    height:190px;
}
.chanel-mocha-hay .wcm-item-img img {border-radius:100px;}
.wcm-item-h3 {
    font-size: 16px;
    margin-bottom: 5px;
}
.wcm-item-h3 a {
}
.wcm-item-liked {
    font-size: 14px;
    margin-bottom: 15px;
}
.wcm-item-btn {
}
.wcm-item-btn a {
    border: 1px solid #9688df;
    border-radius: 15px;
    color: #9688df;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 120px;
    cursor: pointer;
}
.wcm-item-btn a.dk {
    border: 1px solid #B6B6B6;
    border-radius: 15px;
    color: #ffffff;
    background:#B6B6B6;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 120px;
    cursor: pointer;
}
.body-login{}
.wrap-body-login{width:1170px;margin:auto;position:relative;margin-top: 25px;}
.menu-persion-wrap {
    padding: 0px 0px 0px;
    overflow:hidden;
}
.persion-list{width:332px;float:left;background:#ffffff;border-radius: 10px;}
.menu-persion-h3 {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 15px;
    padding: 0px 20px;
    margin-top: 20px;
}
.menu-persion-wrap ul {
    border-bottom: 1px solid #dcdcdc;
    margin-top: 10px;
}
.persion-list ul li {
    margin-bottom: 15px;
}
.persion-list ul li a {
    display: block;
    line-height: 37px;
    overflow: hidden;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.persion-list ul li a img {
    float: left;
    width: 30px;
    margin-right: 15px;
    margin-top: 3px;
}
.body-login-right{float:right;width:815px;padding-bottom:30px;}
.body-login-right .mocha-box-login {
    position: initial;
    transform: none;
}
.body-login-right .mbl-sp-left { width: 150px;}
.body-login-right  .mbl-sp-right .mbl-input-txt{ width: 335px;}
.mbl-form-btn { margin-top: 40px;}

.menu-persion-title
{
    color: rgb(94, 72, 206);
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgb(225, 225, 225);
    padding: 0px 20px;font-weight: bold;margin-top: 0px;text-transform: uppercase;}
body-login-policy .mbl-h3{}
.body-login-right .content-service{ padding: 0px;line-height: 26px;font-size: 15px;}
.body-login-right .content-service .mbl-h3 {  padding: 0px 20px;text-transform: uppercase;}
.service-info{ padding: 0px 20px;}
.persion-list ul li a :hover,.persion-list ul li a.active{color:#5e48cd}
.persion-list a.active{color:#5e48cd}
.search-txt:placeholder-shown {
    color: #fff;
}
.search-txt::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
.search-txt::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.search-txt:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.search-txt:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.chanel-btn-dk follow1  dk{
    border: 1px solid #B6B6B6;
    border-radius: 15px;
    color: #ffffff;
    background:#B6B6B6;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 120px;
}
.body-detail .chanel-btn-dk.dk{border: 1px solid #B6B6B6;background:#B6B6B6;color:
        #ffffff;}
.body-detail #content_video{height:413px;}
#gioi_thieu{width:1170px;margin:auto;}
.tn-pagging a {
    color: #34495E;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 3px 8px;
}
.tn-pagging {
    float: left;
    font-size: 13px;
    margin-top: 15px;
    overflow: hidden;
    text-align: right;
    width: 100%;
    padding-bottom:25px;
    text-align:center;
}
.tn-pagging a.active {
    background-color: #5e48ce;
    color: #FFFFFF;
}
.video-js .vjs-load-progress{
    background: #c8b6f8!important;
}
.video-js .vjs-play-progress, .video-js .vjs-volume-level {
    background: #5e48ce !important;
}
#Content_ctl00_pnVideoRecommended .box-video-list{margin-top:20px}
#Content_ctl00_pnListCnUserFollow .box-video-list{margin-top:20px}
#Content_ctl01_pnVideoListHot  .bvl-h2-title{display:none;}
.icon-hot{     background: red;
    color: #ffffff;
    font-size: 9px;
    padding: 3px 5px;
    border-radius: 6px;
    position: absolute;
    top: -19px;
    right: -14px;}
#a_dangky{
    display:none;
}
#bellHd{display:none;}
#bellHd1{display:none;}
.popup-share-fb {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.wrap-popup-share {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 2px 20px -1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    left: 50%;
    max-width: 360px;
    padding: 25px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.popup-share-title {
    color: #5e48ce;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}
.popup-share-p {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 25px;
    padding-bottom: 10px;
}
.popup-share-p a {
    display: inline-block;
    margin-right: 10px;
}
.popup-share-p a img {
}
.popup-share-input {
    margin-bottom: 25px;
}
.popup-share-input input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: currentcolor currentcolor #636363;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #5e48ce;
    font-size: 13px;
    font-style:italic;
    padding-bottom: 5px;
    width: 100%;
}
.popup-share-btn {
    text-align: center;
    cursor: pointer;
}
.popup-share-btn a {
    background: #3b5998 none repeat scroll 0 0;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 17px;
    padding: 9px 25px;
}
.close-share {
    font-size: 18px;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
#a_share_all{
}
.popup-create-chanel {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.popup-create-content {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 10px;
    box-sizing: border-box;
    left: 50%;
    padding: 20px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    -webkit-transform: translate(-50%, -50%);
}
.popup-create-h3 {
    font-size: 15px;
    margin-bottom: 5px;
}
.popup-create-p {
    border-bottom: 1px solid #dcdcdc;
    color: #a2a3a9;
    font-size: 15px;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.popup-create-btn {
    font-weight: bold;
    text-align: right;
}
.pcb-cancel {
    color: #9e9e9e;
    display: inline-block;
    font-size: 15px;
}
.pcb-continue {
    color: #5e48ce;
    display: inline-block;
    font-size: 15px;
    margin-left: 30px;
    cursor: pointer;
}
.icon-play-video{background:url(http://live84.keeng.net/playnow/images/static/web/icon_play.png) no-repeat center center;transform: translate(-50%, -50%);
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    position:absolute;width:100px;height:75px;display:none;}
.icon-play-video:hover{background:url(http://live84.keeng.net/playnow/images/static/web/icon_play_a.png) no-repeat center center;}
.bht-item .icon-play-video,.playnow-home-link .icon-play-video,.cvs-lnk-img  .icon-play-video{background-size:56px;}
.bht-item-big .icon-play-video{background-size:auto;}
#Content_ctl00_pnVideoListNhac .box-video-list{margin-top:20px}
.bht-item-big:hover .icon-play-video,.bht-item:hover .icon-play-video,.playnow-home-link:hover .icon-play-video,.cvs-lnk-img:hover  .icon-play-video{display:block;}
#linkmocha{cursor: pointer;}
.swiper-button-disabled{display:none;}
span.sp-docquyen {
    color: #ffffff;
    background: #5e48cd;
    padding: 4px 8px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
}
.cvs-lnk-img span.sp-docquyen{font-size:9px;}

.comment-mocha-video {
    background: #ffffff none repeat scroll 0 0;
    color: #ffffff;
    padding: 0 15px;
    padding-top:10px;
}
.comment-mocha-video .cmv-h3
{
    color: #000000;
}
.cmv-h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}
.cmv-wrap {
}
.cmv-form {
    margin-bottom: 30px;
    position: relative;
}
.cmv-avatar {
    border-radius: 20px;
    height: 40px;
    left: 0;
    position: absolute;
    width: 40px;
}
.cmv-avatar img {
    border-radius: 20px;
    width: 40px;
}
/*.cmv-form-input {
    border: 1px solid #555555;
    border-radius: 15px;
    height: 30px;
    margin: 0 55px;
}
.cmv-form-input input {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    color: #555555;
    font-size: 14px;
    margin-top: 5px;
    padding: 0 10px;
    width: 85%;
    outline:none;
}*/
.cmv-form-send {
    background:url(http://live84.keeng.net/playnow/images/static/web/coment_01.png) no-repeat center center;background-size:20px auto;
    height: 30px;
    position: absolute;
    right: 0;
    top: 1px;
    width: 30px;
}
.cmv-form-send.active {
    background:url(http://live84.keeng.net/playnow/images/static/web/coment_01a.png) no-repeat center center;background-size:20px auto;
}
.cmv-row {
    overflow: hidden;
    margin-bottom:30px;
}
.cmv-row-avatar {
    border-radius: 20px;
    float: left;
    height: 40px;
    width: 40px;
}
.cmv-row-avatar img {
    border-radius: 20px;
    width: 40px;
}
.cmv-row-right {
    margin-left: 55px;
}
.cmv-name-like {
    margin-bottom: 7px;
    overflow: hidden;
}
.cmv-name {
    color: #000000ab;
    float: left;
    font-size: 14px;
    font-weight: bold;
}
.cmv-like {
    background:url(http://live84.keeng.net/playnow/images/static/web/comment_02.png) no-repeat right center;background-size:20px auto;
    color: #555555;
    float: right;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    padding-right: 20px;
    width: 20px;
}
.cmv-like.active {
    background:url(http://live84.keeng.net/playnow/images/static/web/comment_02a.png) no-repeat right center;background-size:20px auto;
}
.cmv-info {
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 3px;
}
.cmv-time-answer {
    color: #8f8f91;
    font-size: 11px;
}
.cmv-time-sp {
}
.cmv-answer-lnk {
    color: #8f8f91;
}
.vi-view-more{text-align:center;}
.vi-view-more-lnk{display:inline-block;border:1px solid #cccccc;padding:3px 10px;border-radius:3px;}
.phi-wrap {
    position: relative;
}
.phi-wrap .playnow-home-h3 {
    box-sizing: border-box;
    font-size: 16px;
    left: 0;
    padding: 5px 20px;
    position: absolute;
    line-height:24px;
    top: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
}
.phi-wrap .playnow-home-h3 a{color:#ffffff;}
.phi-wrap  .playnow-home-link{margin-bottom:0px;}
.mocha-social {
    overflow: hidden;
}
.mocha-social a {
    background-size: auto 20px;
    float: left;
    /* margin-right: 20px; */
    padding-left: 27px;
    width: 30px;

}
/*.mocha-social a:last-child{width:40px;}*/
.cvs-info{height:20px;line-height:20px;}
.wrap-chanel-bottom .mocha-social a {height:20px;line-height:20px;}
.ms-like {
    background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/comment_03.png") no-repeat scroll left center;
}
.ms-comment {
    background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/comment_04.png") no-repeat scroll left center;
}
.ms-share {
    background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/comment_05.png") no-repeat scroll left center;
}
.ms-view {
    background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/comment_06.png") no-repeat scroll left center;
}
.ms-like_a {
    background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/comment_02a.png") no-repeat scroll left center;
}
.player-videojs{position:relative;}
.video-js.vjs-paused .bumpable-ima-ad-container, .video-js.vjs-playing:hover .bumpable-ima-ad-container, .video-js.vjs-user-active.vjs-playing .bumpable-ima-ad-container{margin-top:0px !important;}
/*UserCreateChannel.aspx*/
.banner-chanel
{
    margin: 0px auto;
    width: 1170px;
    padding-top: 85px;
}
.banner-chanel img
{
    width: 100%;
}
.mocha-chanel
{
    margin: auto;
    padding-bottom: 60px;
    width: 1170px;
    margin-top: 0px;
}
.mocha-chanel .mc-h3
{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 25px;
}
.mocha-chanel .mc-form
{
    overflow: hidden;
}
.mc-form-avatar
{
    float: left;
    position: relative;
    width: 95px;
    cursor: pointer;
}
.mc-form-avatar img
{
    border-radius: 80px;
    width: 100%;
    height:95px;
}
.mc-form-avatar span
{
    background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/icon_camera.png") no-repeat scroll 0 0;
    bottom: 0;
    height: 30px;
    position: absolute;
    right: -5px;
    width: 30px;
}
.mc-form-right
{
    margin-left: 160px;
}
.mc-form-p
{
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
}
.mc-form-p input
{
    border: 0 none;
    font-size: 17px;
    padding-bottom: 10px;
}
.mc-form-btn
{
    margin-top: 40px;
}
.mc-form-btn a
{
    background: #5e48ce none repeat scroll 0 0;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 160px;
    cursor: pointer;
}
span.video-cup {
    position: absolute;
    top: 0px;
    left: 15px;
}
.item-top .playnow-home-link .video-cup img {
    width: auto;
    height: auto;
}
.mocha-home-banner {
    width: 1170px;
    margin: auto;
    margin-top: 20px;
}
.mocha-home-banner img{
    display:block;
    width:100%;
}
.item-top{width:377px;}
.item-top .playnow-home-link img{height:212px;}
.banner_left{display:none;}
/*uploadvideo.html*/
.body-upload .mbl-h3{padding:0px;font-size:18px;overflow:hidden;border:0px;cursor:pointer;}
.body-upload .mbl-h3 a{float:left;width:50%;text-align:center;border-bottom:1px solid #e1e1e1;line-height:59px;}
.body-upload .mbl-h3 a.active{border-bottom:1px solid #5e48ce;color:#5e48ce;}
.notice-upload{padding-left:165px;}
#ctl00_Content_lblError{position:relative;top:-12px;color:#ff0000;padding-left:165px;}
.keeng-logo{cursor:pointer;}
.mbl-sp-right .mbl-input-select {
    background: #ebebeb none repeat scroll 0 0;
    border: 0 none;
    border-radius: 10px;
    height: 40px;
    width: 365px;
    padding:0px 10px;
    outline:none;
    cursor: pointer;
}
#lbFile{cursor:pointer;}
/*quan ly video*/
.sp-info-user {
    background: #ffffff;
    width: 143px;
    border-radius: 5px;
    right: 10px;
    position: absolute;
    top: 27px;
    z-index: 999;
    display:none;
    padding: 10px 0px;
}
/*box info user*/
.sp-info-user a {
    display: block;
    padding: 5px 10px;
    color: #565656;
    line-height: normal;
    text-align: left;
}
.header-login{position:relative;}
.header-login:hover .sp-info-user{display:block;}
.chanel-home-top{background: #ffffff;border-radius: 10px;padding: 20px;position: relative;margin-bottom: 20px;}
/*user management channel*/
.cht-left{overflow: hidden;}
.cht-left-avatar{float: left;width: 70px;}
.cht-left-avatar img{width: 100%;border-radius: 15px;}
.cht-left-info{margin-left: 10px;margin-left: 85px;}
.cht-left-h3{font-size: 25px;margin-bottom: 5px;}
.chanel-edit a{background: #5e48ce;color: #ffffff;display: inline-block;width: 90px;height: 30px;line-height: 30px;text-align: center;font-size: 14px;border-radius: 10px;cursor:pointer;}
.chanel-edit a.waited{background: #9e9e9e;color: #ffffff;display: inline-block;width: 120px;height: 30px;line-height: 30px;text-align: center;font-size: 14px;border-radius: 10px;cursor:pointer;}
.cht-right{position: absolute;right: 0px;top: 35px;}
.cht-right span{float: left;width: 120px;text-align: center;font-size: 16px;color: #9e9e9e;}
.cht-right strong{color: #6a6a6a;}
.wrap-chanel-bottom{/*! overflow: hidden; */}
.wcb-left{width: 502px;background: #ffffff;border-radius: 10px;padding: 20px;float:left;box-sizing:border-box;}
.wcb-left-h3{color: #5e48ce;font-size: 20px;margin-bottom: 20px;}
.wcb-right{float:right;width:287px;}
.wcb-right-box{background:#ffffff;border-radius:10px;padding:15px;margin-bottom:20px;}
.wcb-right-title{font-size:20px;color:#5e48ce;margin-bottom:17px;}
.wcb-right-p{color:#9e9e9e;font-size:14px;margin-bottom:15px;line-height:15px;}
.wcb-right-p strong{color:#000000;font-weight:normal;}
.wcb-left .cvs-info-h2{margin-bottom:10px;}
.wcb-left .cvs-info-h2 a{cursor:pointer;}
.wcb-left .mocha-social{margin-bottom:10px;}
.blr-wrap{background:#ffffff;padding:0px 20px 20px;border-radius: 10px;}
.blr-wrap-h2{color:#5e48ce;font-size:20px;border-bottom:1px solid #e1e1e1;height:60px;line-height:60px}
.blr-img-h3{font-size:16px;margin-bottom: 10px;margin-top:10px}
.blr-timeline{position: relative;margin-bottom: 20px;cursor:pointer;}
.blr-timeline img{display:block;width:100%;max-height:245px;}
.timeline-edit{background:url(http://live84.keeng.net/playnow/images/static/web/edit_timeline.png) no-repeat;height:38px;width:38px;height:265px;position:absolute;right: 15px;top: 15px;}
.blr-form{overflow:hidden;}
.blr-form-left{width:175px;float:left;}
.bfl-h3{font-size:16px;margin-bottom: 10px;}
.bfl-p{position: relative;cursor:pointer;}
.bfl-p img{width:100%;height:175px;}
.blr-form-video .bfl-p img{height:112px;}
.avatar-edit{background:url(http://live84.keeng.net/playnow/images/static/web/edit_timeline.png) no-repeat;height:38px;width:38px;position:absolute;bottom: 15px;right: 15px;}
.blr-form-right{margin-left:20px;margin-left: 205px;}
.bfr-p-text{font-size:16px;font-weight: bold;margin-bottom: 10px;}
.bfr-p-input{margin-bottom: 12px;}
.bfr-p-input input{background:#ebebeb;height:37px;border-radius:5px;border: 0px;width: 400px;padding: 0px 10px;}
.bfr-p-input textarea{background:#ebebeb;height:76px;border-radius:5px;border: 0px;width: 400px;padding: 10px;font-family:roboto;}
.bfr-p-btn{margin-top:20px;}
.bfr-p-btn a.active {background:#5e48ce;text-align:center;color:#ffffff;display:inline-block;border-radius:5px;width:126px;height:38px;font-size:16px;line-height:38px;font-weight:bold;cursor:pointer;}
.bfr-p-btn a {background:#a9a9a9;text-align:center;color:#ffffff;display:inline-block;border-radius:5px;width:126px;height:38px;font-size:16px;line-height:38px;font-weight:bold;cursor:pointer;}
.blr-list-video .mocha-social{margin-bottom:10px;}
#ImageFileImage{display:none;}
#ImageFileImage_Banner{display:none;}


.wc-tab-user{overflow:hidden;border-bottom: 1px solid #dcdcdc;}
.wc-tab-user2{margin-top: 15px;}
.tab-user-left{float:left;width:50%;border-right: 1px solid #dcdcdc;box-sizing: border-box;padding: 20px 0px;}
.tab-user-left img{width:50px;height:50px;float: left;border-radius: 10px;}
.tab-user-info{margin-left: 62px;margin-top:8px;}
.tab-user-info h3{font-size:14px;margin-bottom:3px;}
.tab-user-info p{color:#6a6a6a;font-size:14px}
.tab-user-right{float:left;width:50%;padding: 20px 0px;padding-left: 20px;box-sizing: border-box;margin-top: 12px;}
.user-p-doanhthu{}
.user-p-doanhthu span{font-size:14px;font-weight:bold;margin-bottom:3px;display:inline-block;}
.wc-tab-doanhthu{overflow: hidden;padding: 10px 0px 0px;}
.sp-doanhthu-left{font-weight: bold;font-size: 16px;margin-top: 4px;float: left;}
.sp-doanhthu-right{float: right;background: #7663d5;width: 90px;height: 30px;border-radius: 25px;padding: 0px 10px;}
.sp-doanhthu-right select{background: #7663d5;color: #ffffff;border: 0px;width: 100%;margin-top: 6px; cursor:pointer;}
#sp_dateSpoint{color: #6a6a6a !important;font-size: 14px !important; font-weight:normal !important}
.tab-user-right span.sp-spoint{}
.wc-tab-search{overflow: hidden;padding: 10px 0px 0px;}
.tab-search-h3{font-size: 16px;font-weight: bold;float: left;margin-top: 5px;}
.tab-search-p{background: #7663d5;float: right;width: 290px;border-radius: 23px;padding: 0px 10px;position: relative;}
.tab-search-p input{background: transparent;border: 0px;height: 30px;color: #ffffff;width: 90%;}
.tab-search-p a{height: 30px;width: 30px;right: 0px;position: absolute;top: 0px;background:url(http://live84.keeng.net/playnow/images/static/web/icon_search.png) no-repeat center center;cursor:pointer;}
.wc-tab-table{margin-top: 5px;}
.wc-tab-table table{width: 100%;font-size: 14px;}
.wc-tab-table td,th{text-align: left;padding: 10px 10px 10px 0px;}
.wc-tab-table td a {
    color: #5e48ce;
}
.qlv-title {
    font-size: 16px;
    font-weight: bold;
    MARGIN-BOTTOM: 15px;
    margin-top:15px;
}
.qlv-info {
    overflow: hidden;
    margin-bottom: 15px;
}
.qlv-info-left {
    float: left;
}
qlv-info-left video{width:400px;}
.qlv-info-right {
    margin-left: 425px;
}
.qlv-info-h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
.qlv-info-p {
    overflow: hidden;
    margin-bottom: 10px;
}
.qlv-sp-left {
    font-size: 16px;
    width: 152px;
    float: left;
}
.qlv-sp-right {
    color: #9e9e9e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
h3.wc-edit-h3 {
    font-weight: bold;
    margin-bottom: 10px;
}
.blr-form-video .blr-form-left {
    width: 200px;
}
.blr-form-video .mc-form-right {
    margin-left: 220px;
}
img {}

.qlv-sp-right img {
    height: 16px;
    position: relative;
    top: 4px;
    margin-left: 5px;
}

.qlv-sp-right a {
    color: #5e48cd;
}

h3.wc-edit-h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.blr-form-video .blr-form-left {
    width: 200px;
}

.blr-form-video .mc-form-right {margin-left: 220px;}
p.more-all-video {
    text-align: center;
}
p.more-all-video a{
    color:#5e48ce;
    cursor:pointer;
}
.chanel-video-small a.delete-video {
    background: #9e9e9e !important;
    width: 35px;
    /* border-radius: 4px; */
    float: left;
    display:none;
}
.chanel-video-small:hover a.delete-video{display:block;}
.cvs-info .chanel-edit a{float:left;margin-right:15px;}
.cvs-info .cvs-info-h2{margin-bottom:10px;}
.chanel-video-small .cvs-info .cvs-info-h2{margin-bottom:5px;max-height:60px;}
.wrap-chanel-bottom .chanel-video-small .cvs-info .cvs-info-h2 {margin-bottom:10px;}
.cvs-info .mocha-social{margin-bottom:10px;}
.chanel-video-small .delete-video:hover{background: #ff0000 !important}
#a_MyChannel{cursor:pointer;}
.chanel-video-small .cvs-info-date {
    color: #9e9e9e;
    margin-bottom: 7px;
    font-size: 14px;
}
.chanel-video-small .cvs-lnk-img img {cursor:pointer;}
