.slick-slider {

}

.slick-list, .slick-slider {
  position: relative;
  display: block; }

.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-slider .slick-list, .slick-slider .slick-track {
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list, .slick-slider {
  position: relative;
  display: block; }

.slick-slider .slick-list, .slick-slider .slick-track {
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-initialized .slick-slide {
  display: block; }

.slick-slide {
  display: none;
  float: left;
  /*height: 100%;*/
  min-height: 1px; }

.slick-dots {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-left: 2%;
  list-style: none;
  text-align: center; }

.slick-dots li, .slick-dots li button {
  width: 223px;
  height: 82px;
  cursor: pointer;


  color: transparent;
  outline: none; }

.slick-dots button {
  background-color: #808082; }

.slick-active button {
  background-color: #fff; }

.slick-dots li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding: 0;
}
li.slick-active {
  border: 3px solid #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.slick-initialized .slick-slide.slick-active {
  z-index: 1; }
/*.slick-arrow {*/
  /*display: none !important; }*/

/*# sourceMappingURL=slide_3.css.map */
