
.block_ {
  color: black;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center
}

.block_1 {
    color: black;
    display: block;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 4.5pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
}

.block_2 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 4.5pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
}

.block_3 {
    display: table-row;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
}

.block_4 {
    display: block;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 4.5pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
}

.block_5 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.08;
    margin-bottom: 8pt;
    margin-left: 4.5pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.block_6 {
    color: black;
    display: block;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 4.5pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.block_7 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.08;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.bullet_ {
    display: table-cell;
    font-weight: bold
}

.calibre {
    color: #000;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 10pt;
    padding-left: 0;
    padding-right: 0
}

.calibre1 {
    font-style: italic
}

.calibre2 {
    display: table;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 4.5pt;
    padding-right: 0;
    padding-top: 0
}

.calibre3 {
    display: table-cell
}

.calibre4 {
    white-space: pre-wrap
}

.text_ {
    color: #000;
    font-style: italic
}

.text_1 {
    color: #000
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
}